.HomePageTextBlock_wrapper{
    width: 40%;
}

.HomePageTextBlock_wrapper > h2{
    color: white;
}

.HomePageTextBlock_wrapper > p{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
}