.HomepageCodeBlock_wrapper{
    width: 40%;
    background-color: pink;
    height: fit-content;
    margin: 0;
    background: radial-gradient(#353535, rgba(48, 45, 45, 0.995));
    background-repeat: no-repeat;
}