.HomepageCodeBlock_wrapper{
    width: 40%;
    height: fit-content;
    margin: 0;
    background-color: #000814;
    box-shadow: rgba(97, 232, 250, 0.2) -50px -10px 50px 2px;
    background-repeat: no-repeat;
}