.navbar_wrapper{
    background-color:  #131417;
    width: 100%;
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: flex;
    border-bottom: 1px solid rgb(94, 92, 92);
    justify-content: space-evenly;
    align-items: center;
    & *{
        text-decoration: none;
        display: flex;
        cursor: pointer;
    }
    > div{
        margin: 0.5rem 1rem;
        align-items: center;
    }
    >:nth-child(2){
        >div{
            margin: 0rem 0.4rem;
        }
    }
    >:nth-child(3){
        > div{
            padding: 0.2rem 0.5rem;
            border-radius: 0.3rem;
            border: 1px solid rgb(160, 156, 156);
            background-color: rgb(22,29,41);
            margin: 0 0.3rem;
            & *{
                color: white;
            }
        }
        :hover{
            background-color: black;
            color: grey;
        }
    }
}

.navbar_logo_wrapper{
    font-size: 1.4rem;
    font-weight: 900;
    >:nth-child(1){
        background-color: grey;
        border-radius: 50%;
        padding: 0.1rem;
        margin-right: 0.4rem;
    }

}