.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.becomeInstructorButton{
    border: 1px solid grey;
    border-radius: 1rem;
    text-decoration: none;
    width: max-content;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: grey;
    & *{
        align-items: center;
        display: flex;
        flex-direction: row;
        margin: 0.1rem 0.4rem;
    }
    &:hover{
        scale: 1.1;
        transition: all 0.3s ease;
        background-color: black;
    }
}

.Homepage_heading_section1{
    color: white;
}

.section1Description{
    width: 70%;
    text-align: center;
    margin: 1.5rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

.top_two_buttonContainer{
    display: flex;
    & *{
        margin: 0 0.7rem;
    }
}

.video{
    height: 25rem;
    box-shadow: rgba(255, 255, 255, 0.4) 5px 5px, rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px;

}

.HomePageTextBlock{
    margin: 2rem 0;
    width: 35rem;
    background-color: green;
    & .homepage_button_arrow{
        display: flex;
        align-items: center;
        & div{
            margin-right: 0.2rem;
        }
    }
    & .HomePageTextBlock_buttonContainer{
        display: flex;
        & *{
            margin-right: auto;
        }
    }
}