.navbar_wrapper{
    background-color:  #131417;
    width: 100%;
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    border-bottom: 1px solid rgb(94, 92, 92);
    justify-content: space-between;
    align-items: center;
    color: white ;
    padding: 0.5rem 3rem;
    & *{
        text-decoration: none;
        display: flex;
    }
    .navbar_links_wrapper > div{
        cursor: pointer;
        margin: 0.2rem 1rem;
    }
}

.yellowLink > *{
    color: yellow;
}

.whiteLink > * {
    color: white;
}

.onHover_elements_container{
    opacity: 0;
    scale: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.5rem;
    padding: 1rem;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vertical_square{
    height: 1rem;
    width: 1rem;
    background-color: white;
    rotate: 45deg;
}

.visible_on_hover_text{
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -0.8rem;
    left: -1rem;
    border-radius: 3px;
    > div{
        padding: 0.5rem 0.5rem;
    }
    >div:hover{
        font-weight: 500;
    }
}

.catelog_container:hover{
    .onHover_elements_container{
        opacity: 1;
        scale: 1;
    }
}

.custom-loader {
    width: 50px;
    height: 50px;
    display: grid;
    border-radius: 50%;
    -webkit-mask:radial-gradient(farthest-side,#0000 40%,#000 41%);
    background:
      linear-gradient(0deg ,#766DF480 50%,#766DF4FF 0) center/4px 100%,
      linear-gradient(90deg,#766DF440 50%,#766DF4BF 0) center/100% 4px;
    background-repeat: no-repeat;
    animation: s3 1s infinite steps(12);
  }
  .custom-loader::before,
  .custom-loader::after {
     content:"";
     grid-area: 1/1;
     border-radius: 50%;
     background:inherit;
     opacity: 0.915;
     transform: rotate(30deg);
  }
  .custom-loader::after {
     opacity: 0.83;
     transform: rotate(60deg);
  }
  
  @keyframes s3 {
    100% {transform: rotate(1turn)}
  }

.navbar_right_end_contents{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}