.signUpLogIn_wrapper{
    font-size: 0.9rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    > div{
        padding: 0.2rem 0.5rem;
        border-radius: 0.3rem;
        border: 1px solid rgb(160, 156, 156);
        background-color: rgb(22,29,41);
        margin: 0 0.3rem;
    }
    :hover{
        background-color: black;
        color: grey;
    }
    & * {
        color: white;
    }
}