.chooseNewPassword_wrapper{
    background-color: 000814;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ChooseNewPassword {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: left;
    width: 25vw;
}

.ChooseNewPassword{ 
    > .password_validator{
        color: rgba(158, 155, 155, 0.518);
        font-size: 0.7rem;
        display: flex;
        text-align: left;
        justify-content: space-between;
        margin: 0.8rem 0;
        > div{
            margin-right: 1.5rem;
            >div{
                padding: 0.3rem 0;
            }
        }
    }
    > p {
        margin: 0.5rem 0;
    }
    >input{
        background-color: red;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    >:last-child{
        & *{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            margin: 0.5rem 0.3rem;
        }
        :hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    >:nth-child(4){
        /* background-color: red; */
        margin-top: 0.5rem;
    }
}

.greenCheck{
    color: green;
}