.chooseNewPassword_wrapper{
    background-color: 000814;
    height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ChooseNewPassword {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: left;
    width: 25vw;
}

.ChooseNewPassword{
    > div{
        margin: 1rem 0;
    }  
    > .password_validator{
        color: rgba(158, 155, 155, 0.518);
        font-size: 0.7rem;
        display: flex;
        text-align: left;
        > div{
            margin-right: 1.5rem;
            >div{
                padding: 0.3rem 0;
            }
        }
    }
    > p {
        margin: 0.5rem 0;
    }
    > label {
        margin: 0.5rem 0;
        cursor: pointer;
        > :nth-child(1){
            color: red;
            font-size: 0.8rem;
        }
    }
    > input {
        padding: 0.3rem 0;
    }
    >:last-child{
        & *{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            margin: 0 0.3rem;
        }
        :hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}